.DS_Store
node_modules
bundle.js
bundle.js.*
*.lock
*-lock.js
*-lock.json
.env
coverage
dist

*storybook.log
storybook-static
**/generated/prisma


# Testing
coverage

# Playwright
playwright-report
test-results
blob-report
.playwright

# Turbo
.turbo
